<%- include ('./partials/header') %>
    <div class="container mt-2">
        <p class="container">Hello <%= currentUser.username %>, here is your dashboard and below are the tweets you have posted so far. Click the delete button to delete any tweet you wish. Happy tweeting!</p>
        <% user.tweets.slice().reverse().forEach((tweet) => { %>
            <div class="mt-2 p-2 bg-dark text-white rounded border-bottom">
                <span class="m-2"><%= tweet.author.username %>, <%= tweet.created.toLocaleString() %></span>
                <p class="m-2 pointer tweet" onclick="location.assign('tweets/<%= tweet._id %>')">
                    <% if (tweet.content.length > 100) { %>
                        <%= tweet.content.substring(0, 100) %>...
                    <% } else { %>
                        <%= tweet.content %>
                    <% } %>
                </p>
                <form class="d-inline" method="post" action="/tweets/<%= tweet._id %>/delete">
                    <button class="m-2 btn btn-sm btn-danger" type="submit">delete</button>
                </form>
                <button class="btn btn-sm btn-success" type="submit" onclick="alert('Feature under development')">Edit</button>
            </div>
        <% }) %>
    </div>
<%- include ('./partials/footer') %>
