<%- include ('./partials/header') %> 
    <div class="container mt-2">
      <% tweets.slice().reverse().forEach((tweet) => { %>
        <div 
          class="mt-2 p-2 bg-dark text-white rounded border-bottom pointer" 
          onclick="location.assign('tweets/<%= tweet._id %>')">
          <p><%= tweet.author.username %>, <%= tweet.created.toLocaleString() %></p>
          <p class="tweet">
            <% if (tweet.content.length > 100) { %>
              <%= tweet.content.substring(0, 100) %>...
            <% } else { %>
              <%= tweet.content %>
            <% } %>
          </p>
        </div>
      <% }) %>
    </div>
    <script src="/copy_link.js"></script>
<%- include ('./partials/footer') %> 
